<div class="col-md-8 col-md-offset-2">
<h1>Current Cart:</h1>
  <table class="table">
    <tr>
      <td>Item</td>
      <td>Variation</td>
      <td>Amount</td>
    </tr>
    <% @current_cart.user_cart_items.each do |item| %>
      <tr>
        <td><%= item.variation.product.name %></td><td><%= item.variation.label %></td><td><%= item.amount %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Clear Cart', '#', class: 'btn btn-default' %>
  <%= link_to 'Checkout', '#', class: 'btn btn-default' %>
</div>
