<div class="col-md-8 col-md-offset-2">
<h1>Current Cart:</h1>
  <% if @current_cart && @current_cart.user_cart_items.count > 0 %>
    <table class="table">
      <tr>
        <th>Photo</th>
        <th>Item</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
      <% sum = 0 %>
      <% @current_cart.user_cart_items.each do |item| %>
        <% sum += item.amount * item.variation.price %>
        <tr>
          <td>
            <% if item.variation.product.photo %>
              <%= image_tag item.variation.product.photo.url, class: 'cart-image' %>
            <% end %>
          </td>
          <td><%= item.variation.product.name %></td>
          <td><%= item.variation.label %></td>
          <td><%= item.amount %></td>
          <td>$<%= item.variation.price * item.amount %></td>
          <td><%= link_to 'Remove from Cart', shop_cart_path(item: item), method: :delete, data: { confirm: "Are you sure you want to remove #{item.variation.product.name}" }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan=3></td>
        <td>Total</td>
        <td>$<%= sum %></td>
        <td></td>
      </tr>
    </table>
    <%= link_to 'Clear Cart', clear_items_shop_cart_path, data: { confirm: "Are you sure?" }, class: 'btn btn-default' %>
    <%= link_to 'Checkout', new_shop_order_path, class: 'btn btn-default' %>
  <% else %>
    No items in cart yet..
  <% end %>
</div>
