<h1>New Order</h1>

<h2>Select Shipping Address</h2>
<%= simple_form_for current_user.orders.build, url: shop_orders_path do |f| %>

  <%= f.input :address_id, collection: current_user.addresses, label_method: :line1 %>

  <%# List Summary of Order %>

  <% if @current_cart && @current_cart.user_cart_items.count > 0 %>
    <table class="table">
      <tr>
        <th>Item</th>
        <th>Variation</th>
        <th>Amount</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
      <% sum = 0 %>
      <% @current_cart.user_cart_items.each do |item| %>
        <% sum += item.variation.price * item.amount %>
        <tr>
          <td><%= item.variation.product.name %></td>
          <td><%= item.variation.label %></td>
          <td><%= item.amount %></td>
          <td>$<%= item.variation.price * item.amount %></td>
          <td><%= link_to 'Delete', shop_cart_path(item: item), method: :delete %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan=2></td>
        <td>Total</td>
        <td>$<%= sum %></td>
      </tr>
    </table>
  <% else %>
    No items in cart yet..
  <% end %>

  <%= f.button :submit, 'Proceed with Payment' %>
<% end %>
