<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping with us, <%= @user.first_name %>!</h1>
    <p>
      Here is your order summary:<br>
    <table class="table">
      <tr>
        <th>Item</th>
        <th>Variation</th>
        <th>Amount</th>
        <th>Total Price</th>
      </tr>
      <% sum = 0 %>
      <% @order.user_cart_items.each do |item| %>
        <% sum += (item.variation.price * item.amount) %>
        <tr>
          <td><%= item.variation.product.name %></td>
          <td><%= item.variation.label %></td>
          <td><%= item.amount %></td>
          <td>$<%= item.variation.price * item.amount %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan=2></td>
        <td>Total</td>
        <td>$<%= sum %></td>
      </tr>
    </table>
    </p>
    <p>
      To view your order details, click <%= link_to 'here', shop_order_url(@order) %>.
    </p>
  </body>
</html>