
<div class="container">
  <div class="row">
    <%= link_to 'New Address', new_address_path, class: "btn btn-default" %>
  </div>
  <% @addresses.each do |address| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <table>
          <tr>
            <th colspan=2><%= address.label %></th>
          </tr>
          <tr>
            <td>Address Line 1:</td>
            <td><%= address.line1 %></td>
          </tr>
          <tr>
            <td>Address Line 2:</td>
            <td><%= address.line2 %></td>
          </tr>
          <tr>
            <td>Zipcode:</td>
            <td><%= address.zipcode %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= address.country %></td>
          </tr>
          <tr>
            <td>Contact Person:</td>
            <td><%= address.contact_person %></td>
          </tr>
          <tr>
            <td>Contact No:</td>
            <td><%= address.contact_no %></td>
          </tr>
          <tr>
            <td><%= link_to 'Edit', edit_address_path(address) %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
