<div class="row center">
  <%= link_to "Add", new_admin_product_path, class: "button" %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="panel panel-default index">

        <div class="panel-heading">
          <%= link_to product.name, admin_product_path(product.slug) %>
        </div>

        <div class="panel-body">
          <div class="row">
            <% if product.photo? %>
              <%= image_tag product.photo.url %>
            <% end %>
          </div>
          <div class="row">
            <%= product.description %>
          </div>
        </div>

        <div class="panel-footer">
          <%= link_to "Edit item", edit_admin_product_path(slug: product.slug), class: "pull-left" %>
          <%= link_to "Delete", admin_product_path(slug: product.slug), class: "pull-right", method: :delete, data: { confirm: 'Are you sure?' } %><br>
        </div>

      </div>
    </div>
  <% end %>
</div>
