<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">

      <div class="row">
        <h2><%= @product.name %></h2><br>
      </div>

      <div class="row">
        Photo here
        <p><%= @product.description %></p>
      </div>

      <div class="row">
        <li><%= link_to "Edit item", edit_admin_product_path(slug: @product.slug), class: "edit-btn" %></li>
        <li><%= link_to "Delete", admin_product_path(slug: @product.slug), class: "delete-btn", method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to "Back", admin_products_path, class: "button" %></li>
      </div>

      <div class="row variations">
        <table style="width: 100%">
          <h3>Inventory</h3>
          <tr>
            <td><%= link_to "Add", new_admin_variation_path(slug: @product.slug) %></td>
          </tr>
          <tr>
            <th>Label</th>
            <th>Price</th>
            <th>Stock</th>
          </tr>
          <% @variations.each do |v| %>
            <tr>
              <td><%= v.label %></td>
              <td>$<%= v.price %></td>
              <td><%= v.stock %></td>
              <td><%= link_to "Edit", edit_admin_variation_path(slug: @product.slug, id: v.id) %></td>
              <td><%= link_to "Delete", admin_variation_path(slug: @product.slug, id: v.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
      </div>

  </div>
</div>
