<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>

      <li><%= link_to "Products", shop_products_path %></li>

      <% if admin_signed_in? %>
        <li><%= link_to "Manage Inventory", admin_products_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <%= link_to 'Cart', "#", { class: "dropdown-toggle", "data-toggle": "dropdown" }%>
      <ul class="dropdown-menu" id="cart-dropdown">
       <% if @current_cart && (@current_cart.user_cart_items.count > 0) %>
         <% @current_cart.user_cart_items.each do |item| %>
           <% if item.id %>
             <li style="width: 300px;">
               <center>
                 <%= item.variation.product.name %> ( <%= item.variation.label %> ) x <%= item.amount %>
                 <%= link_to 'Delete', shop_cart_path(item: item), method: :delete %>
               </center>
             </li>
           <% end %>
         <% end %>
       <% else %>
         <center>
           <li style="width: 300px;"> Cart is empty.. </li>
         </center>
       <% end %>
       <li><center><%= link_to 'View Cart', shop_cart_path %></center></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
